[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "blog/themes/papermod"]
	path = blog/themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
